<mat-toolbar color="primary">
  <span>Cours MEAN Stack</span>
  <span class="spacer"></span>
  <span>
    <ul>
      <li>
        <a mat-button routerLink="">Mes listes</a>
      </li>

      <li>
        <a mat-button routerLink="create" routerLinkActive="mat-accent">Nouveau poste</a>
      </li>

      <li>
        <a mat-button routerLink="login" routerLinkActive="mat-accent">Log In</a>
      </li>

      <li>
        <a mat-button routerLink="signup" routerLinkActive="mat-accent">Sign Up</a>
      </li>
    </ul>
  </span>
</mat-toolbar>
