mat-form-field,
textarea {
  width: 100%;
}

.new-post-title {
  font-size: larger;
  text-align: center;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 6rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
